<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Ryo Sakai - PhD., PDEng., MSc., MSc.BMC., BSc. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bmc.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2008</h4>
                                    <h4 class="subheading">Biomedical Communications</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After completing a BSc in Biological Chemistry at Bates College, Lewiston Maine, USA, Ryo started his first MSc in Biomedical Communications at the University of Toronto, Canada. During this program, he acquired graphical and visual communication skills as a medical illustrator.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/qm.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2009</h4>
                                    <h4 class="subheading">Computing and Information Systems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ryo started his second MSc in Computing and Information Systems at Queen Mary, University of London, the UK to build a solid foundation in programming skills to tackle on data visualization projects and to build interactive visualization tools.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/usi.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">PDEng in User System Interaction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ryo pursued a position as a designer trainee in a post-Master professional engineering program at Eindhoven University of Technology in the Netherlands. During this period, he learned and practiced UX design principles and interned at Phillips Research to develop a mobile application for communication and collaboration among radiologists and radiographers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kuleuven.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2015</h4>
                                    <h4 class="subheading">PhD in Biological Data Visualization</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Then, Ryo joined the <a href="http://vda-lab.be">Visual Data Analysis group </a>(led by Prof. Jan Aerts) at KU Leuven STADIUS/ESAT  and started his doctoral study in Biological Data Visualization: Design and Analysis. During his studies, he has published several papers, received awards in visualization contests, and established collaborations with scientists and engineers all over the world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/now.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Freelance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ryo worked as a freelance data visualization specialist: a designer, training provider and researcher. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo_pws.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-present</h4>
                                    <h4 class="subheading">Data Visualization Specialist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ryo is currently working as a Data Visualization Specialist for  <a href="http://www.pharmiwebsolutions.com/">PharmiWeb Solutions</a>, providing a wide range of service from general consultancy involving data analytics to implementation of data visualization tools for healthcare professionals and pharmaceutical companies. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>