<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide a wide range of services for businesses, researchers, and organisations.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Analysis</h4>
                    <p class="text-muted">From data collection to reporting, we work with data from a wide range of domains, including biological science, geo-spatial analysis, and businesses. Services include data wrangling, data mining and visualization.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Visual Analytics Tools</h4>
                    <p class="text-muted">We specialise in developing interactive (web or desktop) visual analytics tools. We design bespoke visualization solutions tailored to target users and analysis needs, addressing both scientific and engineering challenges.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-image-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Figure Design</h4>
                    <p class="text-muted">Maximise the impact of your research by preparing well-designed figures to communicate effectively and succinctly. We produce publication-ready graphs, charts, anatomical illustrations, book cover design, and logos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultancy</h4>
                    <p class="text-muted">We provide a flat-rate consultancy service to evaluate your exisiting visualization systems. Get in touch with us to find out more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshop</h4>
                    <p class="text-muted">We provide workshops of various length ( 2hr - 1 day) on visualization principles, visualization in R, creative programming (Processing and p5.js), and visualization for biologists.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research</h4>
                    <p class="text-muted">We are always excited to work with academics and practitioners with an enthusiasm for data visualization.</p>
                </div>
            </div>
        </div>
    </section>